
 @model IEnumerable<Offer>
<section id="main-content">
    <section class="wrapper">
        <div class="table-agile-info">
            <div class="panel panel-default">
                <div class="panel-heading">


                    <div class="col-md-4 text-left">
                        OFFERS
                      
                    </div>
                    <div class="col-md-8 text-right">
                        <a class="btn btn-info" asp-area="Admin" asp-controller="Offer" asp-action="Upsert" asp-route-id="">Create Offer</a>
                        <a class="btn btn-warning" asp-area="Admin" asp-controller="CategoryOffer" asp-action="CategoryOffer" asp-route-id="">Category Offer</a>
                        <a class="btn btn-success" asp-area="Admin" asp-controller="ProductOffer" asp-action="ProductOffer" asp-route-id="">Product Offer</a>

                    </div>


                </div>
                <div>

                        @{
                            if (Model.Any())
                            {
                            <table class="table" ui-jq="footable" ui-options='{
            "paging": {
              "enabled": true
            },
            "filtering": {
              "enabled": true
            },
            "sorting": {
              "enabled": true
            }}'>
                                 <thead>
                            <tr>
                                <th data-breakpoints="xs">ID</th>
                                <th>Offer Name</th>
                                <th>OfferType</th>
                                <th>Discount</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Active Status</th>

                               
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr data-expanded="true">
                                    <td>@item.OfferId</td>
                                    <td>@item.OfferName</td>
                                    <td>@item.offerType</td>
                                    <td>@item.Discount</td>
                                            <td>@item.StartDate.ToString("yyyy-MM-dd")</td>
                                            <td>@item.EndDate.ToString("yyyy-MM-dd")</td>
                                            
                                                @{
                                                    if (item.IsActive)
                                                    {
                                                        <td>Active</td>

                                                                    }
                                                    else
                                                    {
                                                         <td>Not Active</td>
                                                                    }
                                                }
                                          
                                            
                                    <td>
                                        <div role="group">
                                            <a class="btn btn-primary" asp-area="Admin" asp-controller="Offer" asp-action="Upsert" asp-route-id="@item.OfferId">Edit</a>
                                            <a class="btn btn-danger " asp-area="Admin" asp-controller="Offer" asp-action="Delete" asp-route-id="@item.OfferId">Delete</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                           
                        </tbody>
                            </table>
                        }
                        else
                        {
                            <p>No offers found</p>
                        }
                    }
                </div>
            </div>
        </div>
    </section>
    <!-- footer -->
    <div class="footer">
        <div class="wthree-copyright">
            <p>© 2017 Visitors. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
        </div>
    </div>
    <!-- / footer -->
</section>

<!--main content end-->
    </section>
